@model Mhotivo.Models.ClassActivityEditModel

@{
    ViewBag.Title = "Editar Actividad";
    Layout = "";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("Edit", "ClassActivity", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"}))
{@Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Actividad</legend>

        @Html.HiddenFor(model => model.Id)
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.AcademicYearId)
            @Html.ValidationMessageFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Value)
        </p>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.AcademicYearId)
            </div>
            <div class="controls">
                @Html.DropDownList("AcademicYearId")
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.DisplayName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.DisplayName)
            </div>
        </div>
           
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="controls">
                @Html.DropDownList("Type")
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Description)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Value)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Value)
            </div>
        </div>

        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancel
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Actualizar
            </button>
        </div>
    </fieldset>
}

</div>
