@model Mhotivo.Models.NotificationModel

@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.min.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.js"></script>

<link href="~/Content/summernote.css" rel="stylesheet" />
<link href="~/Content/summernote-bs3.css" rel="stylesheet" />
<script src="~/Scripts/summernote.min.js"></script>


@using (Html.BeginForm("Add", "Notification", FormMethod.Post, new { id = "Form", @class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)

    
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.EventName)
            @Html.ValidationMessageFor(model => model.From)
            @Html.ValidationMessageFor(model => model.To) 
            @Html.ValidationMessageFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Message) 
        </p>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.EventName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.EventName)
            </div>
        </div>
        
    <div class="control-group">
        <label for="form-input-readonly" class="control-label">@Html.LabelFor(model => model.From)</label>

        <div class="controls">
           <table style="border: transparent">
                <tr>
                    <td>
                         @Html.EditorFor(model => model.From)
                    </td>
                    <td>
                        &nbsp; &nbsp;<input type="checkbox" name="useMyAccount" id="useMyAccount" checked="checked" >            
                    </td>
                    <td>
                        <label> Usar mi cuenta!</label>                
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.To)
        </div>
    </div>
    
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.WithCopyTo)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.WithCopyTo)
        </div>
    </div>
    
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.WithHiddenCopyTo)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.WithHiddenCopyTo)
        </div>
    </div>
    
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Subject)
            </div>
        </div>
        <div id="htmlMessage">Write Your message Here! <br/>You can use tags to make your template more dynamic<br/>Tags Example: ${name}</div>
        
        @Html.HiddenFor(model => model.Message)
        
        <div class="space"></div>

    <div class="modal-footer">
        @Html.ActionLink("Cancelar","Index","Notification",null,new{@class="btn btn-small icon-remove"}) 
        @* <button data-dismiss="modal" class="btn btn-small" onclick="">
                <i class="icon-remove"></i>
                Cancelar
            </button>*@

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Crear
        </button>
    </div>
    
}

<script type="text/javascript">
    $('#From').attr("disabled", true);
    $(document).ready(function () {

        $('#To').tagsinput({
            type: "POST",
            typeahead: {
                source: function(query) {
                    return $.getJSON('/NotificationModel/GetGroupsAndEmails/',{ filter: query });
                }
            }
        });

        $('#WithCopyTo').tagsinput({
            type: "POST",
            typeahead: {
                source: function (query) {
                    return $.getJSON('/NotificationModel/GetGroupsAndEmails/', { filter: query });
                }
            }
        });

        $('#WithHiddenCopyTo').tagsinput({
            type: "POST",
            typeahead: {
                source: function (query) {


                    return $.getJSON('/NotificationModel/GetGroupsAndEmails/', { filter: query });
                }
            }
        });

        $('#htmlMessage').summernote();

    });

    $("input[name='useMyAccount']").click(function () {
        if ($(this).is(':checked')) {
            $('#From').attr('value', '');
            $('#From').attr("disabled", true);
        }
        else if ($(this).not(':checked')) {
            var ok = confirm('Esta seguro que desea usar otra cuenta para enviar este correo?');
            if (ok) {
                $('#From').attr("disabled", false);
            }
        }
    });

    $("#Form").submit(function (event) {
        var sHTML = $('#htmlMessage').code();
        $('#Message').val(sHTML);
       // alert("Handler for .submit() called. : <br/>" + $('#Message').val());
        //event.preventDefault();
    });
</script>
