@model Mhotivo.Models.Notification

@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.min.js"></script>
<script src="~/Scripts/bootstrap-wysiwyg.min.js"></script>


@using (Html.BeginForm("Add", "Notification", FormMethod.Post, new { id = "Form", @class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)

    
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.EventName)
            @Html.ValidationMessageFor(model => model.From)
            @Html.ValidationMessageFor(model => model.To) 
            @Html.ValidationMessageFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Message) 
        </p>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.EventName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.EventName)
            </div>
        </div>
        
    <div class="control-group">
        <label for="form-input-readonly" class="control-label">@Html.LabelFor(model => model.From)</label>

        <div class="controls">
            @Html.EditorFor(model => model.From)
            &nbsp; &nbsp;
            <input type="checkbox" id="id-disable-check">
            <label for="id-disable-check" class="lbl"> Usar mi cuenta!</label>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.To)
        </div>
    </div>
    
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.WithCopyTo)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.WithCopyTo)
        </div>
    </div>
    
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.WithHiddenCopyTo)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.WithHiddenCopyTo)
        </div>
    </div>
    
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Subject)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Message)
            </div>
            <div class="controls">
                @Html.TextAreaFor(model => model.Message)
            </div>
        </div>
        
        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancelar
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Crear
            </button>
        </div>
    
}

<script type="text/javascript">
    //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
    var tag_input = $('#form-field-tags');
    if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
        tag_input.tag({ placeholder: tag_input.attr('placeholder') });
    else {
        //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
        tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
        //$('#form-field-tags').autosize({append: "\n"});
    }
</script>