@model Mhotivo.Models.StudentEditModel

@{
    ViewBag.Title = "Editar " + @Html.DisplayFor(model => model.FullName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <STYLE type="text/css">
        span.InputLabel {width: 567px; height: 15px; font-size: 10px; margin: 0 0 10px 0; vertical-align:text-top; font-weight: bold;}
    </STYLE>
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

@using (Html.BeginForm("DetailsEdit", "student", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"})){
    @Html.ValidationSummary(true)
    <h2>Detalles de @Html.DisplayFor(model => model.FullName)</h2>

<p>
    <a href="../Details/@Html.DisplayFor(model => model.Id)" data-dismiss="modal" class="btn btn-small">
        <i class="icon-remove"></i>
        Cancel
    </a>

    <button type="submit" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Actualizar
    </button>
</p>

@Html.HiddenFor(model => model.Id)

<div id="address" style="width: 500px;">
    <h3>Dirección</h3>
    <div id="mainAddress">
        @Html.EditorFor(model => model.Address)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Address)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Address)</p>
    </div>
    <br style="clear: left;" />
    <div style="float: left; width: 200px;">
        @Html.EditorFor(model => model.City)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.City)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.City)</p>
    </div>
    <div style="float: left; width: 100px;">
        @Html.EditorFor(model => model.State)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.State)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.State)</p>
    </div>
    <div style="float: left; width: 200px;">
        @Html.EditorFor(model => model.Country)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Country)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Country)</p>
    </div>
    <br style="clear: left;" />
</div>

<div id="information" style="width: 500px;">
    <h3>Información Personal</h3>
    <div id="FirstName" style="float: left; width: 250px;">
        @Html.EditorFor(model => model.FirstName)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.FirstName)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.FirstName)</p>
    </div>
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.LastName)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.LastName)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.LastName)</p>
    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        
        <div class="control-group" style="float: left; width: 250px;">
            <div class="row-fluid input-append">
                @Html.TextBoxFor(model => model.IdNumber, new { @class="input-large input-mask-idNumber"})
                <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.IdNumber)</span>
                <p class="text-error">@Html.ValidationMessageFor(model => model.IdNumber)</p>
            </div>
        </div>

    </div>
    <div style="float: left; width: 250px;">
        
        <div class="control-group" style="float: left; width: 250px;">
            <div class="row-fluid input-append">
                @Html.TextBoxFor(model => model.BirthDate, new { @class="span10 date-picker",@data_date_format="dd-mm-yyyy", @readonly=true})
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
                <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.BirthDate)</span>
                <p class="text-error">@Html.ValidationMessageFor(model => model.BirthDate)</p>
            </div>
        </div>

    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        
        @Html.DropDownListFor(model => model.Gender, new SelectList (new [] {"Masculino","Femenino"}) )
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Gender)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Gender)</p>

    </div>
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.Nationality)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Nationality)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Nationality)</p>
    </div>
    <br style="clear: left;" />
</div>
<hr />
<div id="studentInformation" style="width: 500px;">
    <h3>Información de Estudiante</h3>
    <div id="accountNumber" style="float: left; width: 250px;">
        @Html.EditorFor(model => model.AccountNumber)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.AccountNumber)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.AccountNumber)</p>
    </div>
    <div style="float: left; width: 250px;">
        
        <div class="control-group" style="float: left; width: 250px;">
            <div class="row-fluid input-append">
                @Html.TextBoxFor(model => model.StartDate, new { @class="span10 date-picker",@data_date_format="dd-mm-yyyy", @readonly=true})
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
                <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.StartDate)</span>
                <p class="text-error">@Html.ValidationMessageFor(model => model.StartDate)</p>
            </div>
        </div>

    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.BloodType)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.BloodType)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.BloodType)</p>
    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        @Html.DropDownList("Tutor1Id", "--Padre o Tutor--")
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.FirstParent)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.FirstParent)</p>
    </div>
    <div style="float: left; width: 250px;">
        @Html.DropDownList("Tutor2Id", "--Padre o Tutor--")
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.SecondParent)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.SecondParent)</p>
    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 500px;">
        @Html.TextAreaFor(model => model.Biography, new { style = "width: 400px; height: 200px;", @rows = 3 })
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Biography)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Biography)</p>
    </div>
    <br style="clear: left;" />
</div>
<p>
    <a href="../Details/@Html.DisplayFor(model => model.Id)" data-dismiss="modal" class="btn btn-small">
        <i class="icon-remove"></i>
        Cancel
    </a>

    <button type="submit" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Actualizar
    </button>
</p>
}