@model Mhotivo.Models.StudentBenefactorEditModel

@{
    ViewBag.Title = "Editar Estudiante Beneficiado";
    Layout = "";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("StudentEdit", "Benefactor", FormMethod.Post, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
{@Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Informacion de Contacto</legend>

        @Html.HiddenFor(model => model.OldID)
        @Html.HiddenFor(model => model.BenefactorID)
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.NewID)
        </p>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.NewID)
            </div>
            <div class="controls">
                @Html.DropDownList("NewID", "--Seleccione Estudiante--")
            </div>
        </div>

        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancel
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Actualizar
            </button>
        </div>
    </fieldset>
}

</div>
