@model Mhotivo.Models.EventCreateModel
@{
    ViewBag.Title = "Registrarse";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree un evento nuevo.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulario de creacion de evento</legend>
        <ol>

            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
                <p class="text-error">@Html.ValidationMessageFor(model => model.Description)</p>
            </li>
            <li>
                @Html.LabelFor(m => m.StartDateTime)
                @Html.TextBoxFor(m => m.StartDateTime)
                <p class="text-error">@Html.ValidationMessageFor(model => model.StartDateTime)</p>
            </li>
            <li>
                @Html.LabelFor(m => m.EndDateTime)
                @Html.TextBoxFor(m => m.EndDateTime)
                <p class="text-error">@Html.ValidationMessageFor(model => model.EndDateTime)</p>
            </li>
        </ol>
        <input type="submit" value="Crear" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
