@model Mhotivo.Models.EventCreate
@{
    ViewBag.Title = "Registrarse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree un evento nuevo.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario de creacion de evento</legend>
        <ol>

            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.StartDateTime)
                @Html.TextBoxFor(m => m.StartDateTime)
            </li>
            <li>
                @Html.LabelFor(m => m.EndDateTime)
                @Html.TextBoxFor(m => m.EndDateTime)
            </li>
        </ol>
        <input type="submit" value="Crear" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
