@model Mhotivo.Models.Group

@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.min.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.js"></script>

@using (Html.BeginForm("Add", "Group", FormMethod.Post, new { id = "Form", @class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)

    
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.Name)
        </p>
        
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name)  @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    
    <div class="control-group">
            <div class="control-label">
                Miembros
            </div>
            <div class="controls">
                <input type="text" id="Members"/>
            </div>
        </div>
        
        
        
        @Html.HiddenFor(model => model.Users)
        
        <div class="space"></div>

    <div class="modal-footer">
        <div class="btn btn-small">@Html.ActionLink("Cancel","Index","Group")</div>
        
        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Crear
        </button>
    </div>
    
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#Members').tagsinput({
            itemValue: 'value',
            itemText: 'name',
            type: "POST",
            typeahead: {
                source: function (query) {
                    return $.getJSON('/Group/GetMembers/', { filter: query });
                }
            }
        });


    });

    $("#Form").submit(function (event) {
        $('#Users').val($('#Members').val());
        //alert("Handler for .submit() called. : <br/>" + $('#Users').val());
        //event.preventDefault();
    });
</script>
