@model Mhotivo.Data.Entities.Group

@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.min.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.js"></script>

@using (Html.BeginForm("Edit", "Group", FormMethod.Post, new { id = "Form_to_edit", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

    <p class="text-error">
        @Html.ValidationMessageFor(model => model.Name)
    </p>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.Name)
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            Miembros
        </div>
        <div class="controls">
            <input type="text" id="Members" />
        </div>
    </div>

    @Html.HiddenFor(model => model.Users)
    <table>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a class="toDeleteUser" role="button" id="@Html.DisplayFor(modelItem => item.Id)_@Html.DisplayFor(model => model.Id)"><i class="icon-trash bigger-120"></i></a>
                    @using (Html.BeginForm("DeleteUser", "Group", new { id = Html.DisplayFor(modelItem => item.Id), groupId = Html.DisplayFor(modelItem => item.Id) }, FormMethod.Post,
                                    new { id = "Form_" + Html.DisplayFor(modelItem => item.Id) + "_"+Html.DisplayFor(model => model.Id), style = "display: none" })) { }
                    <input type="hidden" id="@Html.DisplayFor(modelItem => item.Id)_@Html.DisplayFor(model => model.Id)_Message"
                           value="¿Realmente desea eliminar al usuario @Html.DisplayFor(modelItem => item.DisplayName) de este grupo?" />
                </td>
            </tr>
        }
    </table>

    <div class="space"></div>

    <div class="modal-footer">
        <div class="btn btn-small"><i class="icon-remove"></i>@Html.ActionLink("Cancel","Index","Group")</div>

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Crear
        </button>
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {

        $('#Members').tagsinput({
            itemValue: 'value',
            itemText: 'name',
            type: "POST",
            typeahead: {
                source: function (query) {
                    return $.getJSON('/Group/GetMembers/', { filter: query });
                }
            }
        });

    });

    $("#Form_to_edit").submit(function (event) {
        $('#Users').val($('#Members').val());
        alert("Handler for .submit() called. : <br />" + $('#Users').val());
        //event.preventDefault();
    });

    //start Delete
    $("a.toDeleteUser").on("click", function () {
        var uri = $(this).attr("id");
        var idMessage = "input[id*='" + uri + "_Message']";
        var idForm = "#Form_" + uri;
        var message = $(idMessage).val();
        bootbox.dialog(message,
            [
               {
                   "label": "Cancelar",
                   "class": "btn-small"
               },
               {
                   "label": "Eliminar",
                   "class": "btn-small btn-danger",
                   "callback": function () {
                       alert(idForm);
                       $(idForm).submit();
                   }
               }
            ]
        );
    }); //End of delete
</script>