@model Mhotivo.Models.Course

@{
    ViewBag.Title = "Add";
    Layout = "";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("Add", "Course", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nuevo</legend>
        
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Area)
        </p>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Area)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Area)
            </div>
        </div>
        
        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancelar
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Crear
            </button>
        </div>
    </fieldset>
}

</div>
