@model Mhotivo.Models.Pensum

<fieldset>
    <legend>Pensum</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.Name)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Grade.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade.Name)
    </div>


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
