@model Mhotivo.Models.MeisterRegisterModel

@{
    ViewBag.Title = "Nuevo Mestro";
    Layout = "";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("Add", "Meister", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nuevo Maestro</legend>
        
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.IDNumber)
            @Html.ValidationMessageFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Nationality)
            @Html.ValidationMessageFor(model => model.State)
            @Html.ValidationMessageFor(model => model.City)
            @Html.ValidationMessageFor(model => model.StreetAddress)
            @Html.ValidationMessageFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.Biography)
        </p>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.DateOfBirth)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.DateOfBirth)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.IDNumber)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.IDNumber)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="controls">
                @Html.DropDownList("Gender")
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Nationality)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Nationality)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.City)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.State)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.State)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.StreetAddress)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.StreetAddress)
            </div>
        </div>
        
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.StartDate)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.StartDate)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.EndDate)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.EndDate)
            </div>
        </div>
        
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Biography)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Biography)
            </div>
        </div>

        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancelar
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Crear
            </button>
        </div>
    </fieldset>
}

</div>
