@model Mhotivo.Models.MeisterRegisterModel

@{
    ViewBag.Title = "Agregar Padre o Tutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section AddToHead{
    <STYLE type="text/css">
        span.InputLabel {width: 567px; height: 15px; font-size: 10px; margin: 0 0 10px 0; vertical-align:text-top; font-weight: bold;}
    </STYLE>
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

@using (Html.BeginForm("Add", "meister", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"})){
    @Html.ValidationSummary(true)
<h2>Agregar Padre o Tutor</h2>

<p>
    <a href="../Meister/Index" data-dismiss="modal" class="btn btn-small">
        <i class="icon-remove"></i>
        Cancel
    </a>

    <button type="submit" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Agregar
    </button>
</p>

<div id="address" style="width: 500px;">
    <h3>Dirección</h3>
    <div id="mainAddress">
        @Html.EditorFor(model => model.Address)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Address)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Address)</p>
    </div>
    <br style="clear: left;" />
    <div style="float: left; width: 200px;">
        @Html.EditorFor(model => model.City)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.City)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.City)</p>
    </div>
    <div style="float: left; width: 100px;">
        @Html.EditorFor(model => model.State)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.State)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.State)</p>
    </div>
    <div style="float: left; width: 200px;">
        @Html.EditorFor(model => model.Country)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Country)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Country)</p>
    </div>
    <br style="clear: left;" />
</div>

<div id="information" style="width: 500px;">
    <h3>Información Personal</h3>
    <div id="FirstName" style="float: left; width: 250px;">
        @Html.EditorFor(model => model.FirstName)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.FirstName)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.FirstName)</p>
    </div>
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.LastName)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.LastName)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.LastName)</p>
    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.IDNumber)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.IDNumber)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.IDNumber)</p>
    </div>
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.BirthDate)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.BirthDate)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.BirthDate)</p>
    </div>
    <br style="clear: left;" />
    <br style="clear: left;" />
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.Gender)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Gender)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Gender)</p>
    </div>
    <div style="float: left; width: 250px;">
        @Html.EditorFor(model => model.Nationality)
        <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Nationality)</span>
        <p class="text-error">@Html.ValidationMessageFor(model => model.Nationality)</p>
    </div>
    <br style="clear: left;" />
</div>

    <div id="MeisterInformation" style="width: 500px;">
        <h3>Información del Maestro</h3>
        <div style="float: left; width: 250px;">
            @Html.EditorFor(model => model.StartDate)
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.StartDate)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.StartDate)</p>
        </div>
        <div style="float: left; width: 250px;">
            @Html.EditorFor(model => model.EndDate)
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.EndDate)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.EndDate)</p>
        </div>
        <br style="clear: left;" />
        <div style="float: left; width: 500px;">
            @Html.TextAreaFor(model => model.Biography, new { style = "width: 400px; height: 200px;", @rows = 3 })
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Biography)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.Biography)</p>
        </div>
        <br style="clear: left;" />
    </div>
    
<p>
    <a href="../Meister/Index" data-dismiss="modal" class="btn btn-small">
        <i class="icon-remove"></i>
        Cancel
    </a>

    <button type="submit" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Agregar
    </button>
</p>
}