@model Mhotivo.Models.UserRegisterModel

@{
    ViewBag.Title = "Nuevo Usuario";
    Layout = "";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("Add", "User", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nuevo Usuario</legend>
        
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.DisplaName)
            @Html.ValidationMessageFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)  
            @Html.ValidationMessageFor(model => model.RoleId)  
        </p>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.DisplaName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.DisplaName)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RoleId)
            </div>
            <div class="controls">
                @Html.DropDownList("RoleId")
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <div class="control-label" style=" width: 60px;  padding-top: 0;">
                    @Html.LabelFor(model => model.Status, new {@style="text-align: left; margin-left: 0;"})
                </div>
                @Html.CheckBoxFor(model => model.Status,new { @style="-ms-opacity: 1; opacity: 1; margin-top: 1px;"})
            </div>
        </div>

        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancelar
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Crear
            </button>
        </div>
    </fieldset>
}

</div>
